<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="redkiwi_news_collection_load_after">
        <observer name="redkiwi_news_item_set_image" instance="Redkiwi\News\Observer\ItemImage" shared="false" />
    </event>
</config>
